<footer>
  <div class="h2o-container h2o-container--mode">
    <div class="h2o-footer">
      <div class="h2o-footer__box">
        <div class="h2o-footer__top">
          <div class="h2o-footer-nav">
            <span class="h2o-footer-nav__title">ВАЖНО ЗНАТЬ:</span>
            <ul class="h2o-footer-nav__list">
              <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-vhod">О нас</button></li>
              <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-vhod">Правила и условия</button>
              </li>
              <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-vhod"> Ответственная
                  игра</button></li>
              <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-vhod">Политика файлов
                  cookie</button></li>
              <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-vhod">Политика
                  конфиденциальности</button></li>
              <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-vhod">Самоограничение</button>
              </li>
              <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-vhod">Разрешение споров</button>
              </li>
              <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-vhod">Политика AML и KYC</button>
              </li>
              <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-vhod">Честность игр</button></li>
              <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-vhod">Регистрация, Выплаты и
                  Бонусы</button></li>
              <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-vhod">Партнерам</button></li>
            </ul>
          </div>

          <div class="h2o-footer__inner">
            <ul class="h2o-footer-links h2o-footer-links--pay">
              <li class="h2o-footer-links__item">
                <div class="h2o-footer-links__box">
                  <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-visa"></i></button>
                  <span class="h2o-footer-links__title">VISA</span>
                </div>
              </li>
              <li class="h2o-footer-links__item">
                <div class="h2o-footer-links__box">
                  <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-ms"></i></button>
                  <span class="h2o-footer-links__title">MASTERCARD</span>
                </div>
              </li>
              <li class="h2o-footer-links__item">
                <div class="h2o-footer-links__box">
                  <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-maestro"></i></button>
                  <span class="h2o-footer-links__title">MAESTRO</span>
                </div>
              </li>
              <li class="h2o-footer-links__item">
                <div class="h2o-footer-links__box">
                  <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-webmoney"></i></button>
                  <span class="h2o-footer-links__title">WEBMONEY</span>
                </div>
              </li>
              <li class="h2o-footer-links__item">
                <div class="h2o-footer-links__box">
                  <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-skrill"></i></button>
                  <span class="h2o-footer-links__title">SKRILL</span>
                </div>
              </li>
              <li class="h2o-footer-links__item">
                <div class="h2o-footer-links__box">
                  <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-neteller"></i></button>
                  <span class="h2o-footer-links__title">NETELLER</span>
                </div>
              </li>
            
            </ul>


          <ul class="h2o-footer-links">
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-playmer"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-highgame"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-novomatic"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-caleta"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-fantasma"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-ezugi"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-turbogames"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-mancalagaming"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-gamzix"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-1x2gaming"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-amatic"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-bilatra"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-betgamstv"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-betsoft"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-bf"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-bgaming"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-btg"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-blueprint"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-bombay"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-boominggames"></i></button>
            </li>
          </ul>
          <ul class="h2o-footer-links h2o-footer-links--mode">
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-seal"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-curacao"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-age"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-vhod"><i class="h2o-icon-comodo"></i></button>
            </li>
          </ul>
        </div>
        </div>



    
      </div>


      <div class="h2o-footer__copyright">
        <p>Playfortuna.com управляется компанией NETGLOBE SERVICES LTD, действующей в качестве платежного оператора.
          Компания зарегистрирована по адресу: 79 Spyrou Kyprianou Avenue, Protopapas Building, 2nd floor, office 201,
          3076 Limassol, Cyprus.<br>
          Registration number HE 313864<br>
          GLOBONET B.V., a company with registered address at Kaya Richard J. Beaujon Z / N, Curaçao, is licensed
          by the Government of Curacao under the No.1668 / JAZ. Reg num 146296<br>
          © Netglobe Services Limited, 2019 - 2024. All rights reserved.<br>
          In order to register for this website, the user is required to accept the
          General Terms and Conditions. In the event the General Terms and Conditions are updated, existing users may
          choose to discontinue using the products and services before the said update shall become effective, which is
          a minimum of two weeks after it has been announced.
        </p>
      </div>
    </div>
  </div>
</footer>