<header class="h2o-header">
  <nav class="h2o-header__nav">
    <a href="index.html" class="h2o-logo">
      <span class="h2o-icon-logo h2o-icon-logo--mode"></span>
    </a>
      <ul class="h2o-main-nav">
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            <i class="h2o-icon-games"></i>
            Игры
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            <i class="h2o-icon-promo"></i>
            Промо
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            <i class="h2o-icon-cup"></i>
          Соревнования
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            <i class="h2o-icon-search2"></i>
          Поиск
          </a>
        </li>
      </ul>
      <button class="h2o-burger">
        <span class="h2o-burger__line"></span>
      </button>
  </nav>
  <div class="h2o-container">
    <div class="h2o-header__box">
      <a href="index.html" class="h2o-logo">
        <span class="h2o-icon-logo"></span>
      </a>

      <ul class="h2o-main-nav">
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            <i class="h2o-icon-games"></i>
            Игры
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            <i class="h2o-icon-promo"></i>
            Промо
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            <i class="h2o-icon-cup"></i>
           Соревнования
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            <i class="h2o-icon-search2"></i>
           Поиск
          </a>
        </li>
      </ul>

      <div class="h2o-header__btns">
        <button class="h2o-yellow-button h2o-vhod">Регистрация</button>
        <button class="h2o-pink-button h2o-vhod">Войти</button>
      </div>
    </div>


    <div class="h2o-mobile-menu">
      <ul class="h2o-main-nav">
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            <i class="h2o-icon-games"></i>
            Игры
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            <i class="h2o-icon-promo"></i>
            Промо
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            <i class="h2o-icon-cup"></i>
          Соревнования
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            <i class="h2o-icon-search2"></i>
          Поиск
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>